{% load static %}

<!DOCTYPE html>

    <html lang="en">

        <head>
            <title>{% block title %}Todo App{% endblock %}</title>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
            <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/minty/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        </head>


        <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-center">
            <a id="nav-heading" class="navbar-brand main-heading">               
                &nbsp; Todo App           
            </a>
            
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
        
            </button>       
        
            <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto">              
                    &nbsp;     &nbsp;     &nbsp;        
                    <li class="nav-item">         
                        <a class="btn btn-secondary navbar-btn" type="button" href="{% url 'logout' %}">Logout</a>        
                    </li>         
                    &nbsp;     &nbsp;     &nbsp;        
                </ul>
            </div>      
        </nav>
        <body class="bg-light">
            <div class="container">
                {% block content %}
                <!-- Child templates will override this block -->
                {% endblock %}
            </div>
            {% block scripts %}
                <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
            <!-- Additional scripts can be added by child templates -->
            {% endblock %}
        </body>
    </html>    