{% extends "todos/base.html" %}

{% block title %}Todo Dashboard{% endblock %}

{% block content %}
<!-- Dashboard specific content like todo lists, forms for adding todos, etc. -->
<div class="row mt-5">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header shadow-sm bg-white">
                <h1 class="display-5 text-info text-center">
                    <h1>Welcome, {{ user.email }}!</h1>
                </h1>
            </div>
            <div class="card-body">
                <p>Something</p>
            </div>
            <div class="card-body">
                <p>Something</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ block.super }} <!-- Include parent block content -->
    <!-- Specific scripts for todo_dashboard functionality if needed -->
{% endblock %}