{% extends "todos/base.html" %}

{% block title %}Todo Dashboard{% endblock %}

{% block content %}
<!-- Dashboard specific content like todo lists, forms for adding todos, etc. -->
<div class="row mt-4">
    <div class="col-md-8 offset-md-2">

        <h1 class="mb-4 text-center">Welcome, {{ user.first_name|capfirst }}!</h1>

        {% for todo in todos %}
        <div class="card">
            <!-- <div class="card-header shadow-sm bg-white">
            </div> -->
            <div class="card-body">
                <p>{{ todo.content }}</p>
            </div>
        </div>
    {% empty %}
        <div class="card">
            <div class="card-body">
                <p>You have no todos</p>
            </div>
        </div>
    {% endfor %}
    <div class="card  mt-2">
        <div class="card-body">
            <form action="{% url 'add_todo_item' %}" method="post" autocomplete="off">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" class="form-control" name="content" placeholder="Write your todo here..." >
                    <div class="input-group-append text-info">
                        
                    </div>
                    <button class="btn btn-secondary" type="submit">Add</button>
                </div>
            </form>        
        </div>

    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ block.super }} <!-- Include parent block content -->
    <!-- Specific scripts for todo_dashboard functionality if needed -->
{% endblock %}